# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.SpikeNBall.iml
# Datasource local storage ignored files
/../../../../../../:\for Unity\SpikeNBall\.idea\.idea.SpikeNBall\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
